body {
    background-image: url(pics/lovelovebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: "Comic Sans MS";
    font-size: 60px;
    color: pink;

}

.navbar {
    position:relative;
    left:65%;
    border: 1px solid;
    border-color: pink;
    border-radius: 30px;
    width: 500px;
    top:30px;
    background-color: rgb(255,255,255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 5px 3px 5px;
}
.navbar ul {
    list-style: none;
    justify-content: space-around;
    display: flex;

    
}
.navbar a {
    text-decoration: none;
    color: pink;
    display: block;
    
}
.navbar a:hover {
    color: coral;
    
}
.pics ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
   
}

.imgedit {
    width: 400px;
    height: 400px;
    border: 2px solid;
    border-radius: 20px;
    border-color: pink;
    transition: transform 0.2s;
    box-shadow: 5px 5px 5px;
}

.imgedit:hover {  
    transform: scale(.9);
    opacity: 1;
    
    
}
.pics .picsnote {
    background-color: rgba(0, 0, 0, 0.5); /* transparent black */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* hidden by default */
    transition: opacity 0.3s ease;
}