body {
    background-image: url(pics/lovelovebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: "Comic Sans MS";
    font-size: 60px;
    color: pink;
    margin-left:10px ;
    margin-bottom: 5px;

}

.navbar {
    position:relative;
    left:65%;
    border: 1px solid;
    border-color: pink;
    border-radius: 30px;
    width: 500px;
    top:30px;
    background-color: rgb(255,255,255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 5px 3px 5px;
}
.navbar ul {
    list-style: none;
    justify-content: space-around;
    display: flex;

    
}
.navbar a {
    text-decoration: none;
    color: pink;
    display: block;
    
}
.navbar a:hover {
    color: coral;
    
}

.messages ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
.text {
    border: 2px solid;
    border-radius: 30px;
    border-color: pink;
    padding: 10px;
    font-family: "Comic Sans MS";
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.2);
    transition:transform 0.2s;
    margin: 15px;
    
}

.messages .num {
    text-align: center;
    color: pink;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.text:hover {
    transform: scale(1.1);
}






